<style>
  .presenter-content p:nth-child(6n+1) {
    color: #FFED4A;
  }

  .presenter-content p:nth-child(6n+2) {
    color: #A2F5BF;
  }

  .presenter-content p:nth-child(6n+3) {
    color: #FAAD63;
  }

  .presenter-content p:nth-child(6n+4) {
    color: #B2B7FF;
  }

  .presenter-content p:nth-child(6n+5) {
    color: #FA7EA8;
  }
</style>

<div class='presenter-content bg-indigo-darkest min-h-screen p-4 text-xl' style='margin-bottom: 3rem;'>
  {{#if title}}
    {{presenter-slide-title title=title}}
  {{else}}
    {{yield
      (hash title=(component 'presenter-slide-title'))
    }}
  {{/if}}

  {{yield
    (hash p=(component 'presenter-slide-paragraph'))
  }}
</div>
<div class='fixed pin-l pin-r pin-b bg-teal'>
  <div class="flex">
    <button
      onclick={{action 'previous' target=slides}}
      class="w-1/2 h-12 bg-yellow-lighter hover:bg-yellow-light text-lg text-blue hover:text-blue-dark font-bold border border-blue"
    >
      &lt; prev
    </button>
    <button
      onclick={{action 'next' target=slides}}
      class="w-1/2 h-12 bg-yellow-lighter hover:bg-yellow-light text-lg text-blue hover:text-blue-dark font-bold border border-blue"
    >
      next &gt;
    </button>
  </div>
</div>
