<style>
  .slide-grid h1 {
    grid-column: 2 / 12;
    grid-row: 4;
    text-shadow: 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black;
  }

  .slide-grid h3 {
    grid-column: 2 / 12;
    grid-row: 5;
    text-shadow: 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black;
  }

  .slide-grid h2 {
    grid-column: 2 / 12;
    grid-row: 6;
    text-shadow: 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black;
  }

  .slide-grid h4 {
    grid-column: 2 / 12;
    grid-row: 8;
    text-shadow: 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black;
  }
</style>

{{#screen-slide}}
  <div class='slide-grid text-5xl'>
    <h1 class='text-blue'>Audience Poll:</h1>
    <h3 class='text-yellow'>What's your favourite color?</h3>

    <h2>
      Red: {{colourCounts.red}} - Green: {{colourCounts.green}} - Blue: {{colourCounts.blue}}
    </h2>

    <h4>
      Cat: {{animalCounts.cat}} - Dog: {{animalCounts.dog}} - Cow: {{animalCounts.cow}}
    </h4>
  </div>
{{/screen-slide}}
