{{#slide.content}}
  <div class='text-5xl'>
    <h1 class="text-white p-4 self-center">
    Audience Poll
  </h1>
  </div>
  <h2 class='text-yellow p-4 self-center'>
    What's your favourite color?
  </h2>
  <h3 class='self-center pb-4'>
    Red: {{colourCounts.red}} - Green: {{colourCounts.green}} - Blue: {{colourCounts.blue}}
  </h3>
  <h2 class='text-blue-light p-4 self-center'>
    What's your favourite animal?
  </h2>
  <h3 class='self-center pb-4'>
    Cat: {{animalCounts.cat}} - Dog: {{animalCounts.dog}} - Cow: {{animalCounts.cow}}
  </h3>
{{/slide.content}}
