<h1>Audience Poll:</h1>
<h2>What is your favourite colour?</h2>

{{connectedUsers.users.length}} : {{connectedUsers.audience.length}}

<h2>red: {{redUsers.length}}</h2>
<h2>green: {{greenUsers.length}}</h2>
<h2>blue: {{blueUsers.length}}</h2>
