<h1>Login...</h1>

{{#if (or (eq role 'screen') (not role))}}
  <button onclick={{action 'login' 'Screen' 'screenpassword' target=session}} disabled={{session.isLoggingIn}}>Screen</button>
{{/if}}

{{#if (or (eq role 'presenter') (not role))}}
  <button onclick={{action 'login' 'Presenter' 'presenterpassword' target=session}} disabled={{session.isLoggingIn}}>Presenter</button>
{{/if}}

{{#if (or (eq role 'notes') (not role))}}
  <button onclick={{action 'login' 'Notes' 'notespassword' target=session}} disabled={{session.isLoggingIn}}>Notes</button>
{{/if}}

{{#if (or (eq role 'audience') (not role))}}
  <button onclick={{action 'login' 'Audience1' null target=session}} disabled={{session.isLoggingIn}}>Audience 1</button>
  <button onclick={{action 'login' 'Audience2' null target=session}} disabled={{session.isLoggingIn}}>Audience 2</button>
  <button onclick={{action 'login' 'Audience3' null target=session}} disabled={{session.isLoggingIn}}>Audience 3</button>
{{/if}}
